.links a {
  display: inline;
  border: white solid 1px;
  color: white;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  padding: 3px 20px;
  margin: 0px 2px;
  transition: letter-spacing 0.7s, background-color 0.5s;
}

.links a:hover {
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.155);
}

.header {
  margin: 10px;
  font-family: 'DM Mono';
  font-weight: 600;
}