.nav {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0%;
  margin-right: 8px;
  width: 100%;
  text-align: right;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .nav {
    width: 70%;
  }
}

.nav a {
  text-decoration: none;
  color: white;
  transition: letter-spacing 0.55s, text-shadow 0.25s ease-out;
  margin: 15px;
}

.nav a:hover {
  letter-spacing: 1px;
  text-shadow: 10px 15px #e8e8e8b1, 0 0 15px rgba(255, 255, 255, 0.765);
}
