.nav {
  position: absolute;
  top: 0%;
  right: 0%;

  width: 100%;
  height: 3ch;
  margin-top: 1.17em;

  display: flex;
  gap: 30px;
  justify-content: right;
  font-style: italic;
}

.nav a {
  --fs: 1.17em;

  font-size: var(--fs);
  font-weight: bold;

  color: white;
  text-decoration: none;
  transition: letter-spacing 0.55s,
    text-shadow 0.25s cubic-bezier(0.165, 0.84, 0.44, 1), font-size 0.4s,
    margin 0.4s;
}

.nav a:hover {
  letter-spacing: 1px;
  text-shadow: 5px 15px #e8e8e8b1, 0 0 15px rgba(255, 255, 255, 0.765);
}

.nav a:first-child {
  margin-left: 25px;
  margin-right: auto;

  font-size: calc(var(--fs) + 0.03em);
}

.nav a:last-child {
  margin-right: 25px;
}

@media only screen and (max-width: 600px) {
  .nav a {
    --fs: 1em;
  }

  .nav a:first-child {
    margin-left: 18px;
  }

  .nav a:last-child {
    margin-right: 18px;
  }
}

@media only screen and (max-width: 475px) {
  .nav a {
    --fs: 0.9em;
  }

  .nav {
    gap: 20px;
  }
}
